@model List<int>
@{ 
 ViewBag.Title = "MessageViewModel";
}

<div id="EncodedMessage">
    @if (Model != null)
    {
        foreach (int i in Model)
        {
        <p>@i</p>
        }
    }
</div>

