@model WebUI.Models.WalletViewModel
@{
    ViewBag.Title = "WalletDataPartialView";
}

<div class="lds-roller" id="loading" role="status" style="display: none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<p id="test">[@Model.n, @Model.d]</p>

