
@{
    ViewBag.Title = "WalletPartialView";

}

<script>

    function hide(elementID) {
        document.getElementById(elementID).style.display = 'none';
    }
    function show(elementID) {
        document.getElementById(elementID).style.display = 'inline';
    }

</script>

<div class="jumbotron">
    @Html.Action("GetWalletData")

    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "test", LoadingElementId="loading",LoadingElementDuration=300, Url=Url.Action("GetWalletData"), OnBegin="hide('test')", OnComplete="show('test')" }))
    {
        <button type="submit" class="btn btn-primary">Generate !</button>
    }

</div>